<table class="table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      @for(chiche of chiches; track chiche.name){

        <tr [ngClass]= "{'clerance': chiche.clearance}">
        <td><img [src]="chiche.image" [alt]="chiche.name"></td>
        <td>{{ chiche.name }}</td>
        <td>{{ chiche.type }}</td>
        <td>{{ chiche.price | currency }}</td>

        @if(chiche.stock > 0){
          <td>{{ chiche.stock }}</td>
        }@else {
          <td><span class="badge rounded-pill text-bg-warning">SIN STOCK</span></td>
        }
      </tr>
    } @empty {
      <tr>
        <td colspan="4"><span class="badge text-bg-danger"> No nos queda ningun chiche :c </span></td>
      </tr>
    }
    </tbody>
  </table>
  
