<header>
 <nav class="navbar navbar-expand-lg container">  <!-- saque esta clase: bg-light -->
    <div class="container-fluid">
      <img src="assets/isotype.svg" alt="lll" class="logo-nav">
      <a class="navbar-brand nav-link" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav navbar__menu">
          <a class="nav-link" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Contacto</a>
          <a class="nav-link" href="#">Carrito</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<div>
  <h1>{{title}}</h1>
</div>
<div class="container">
  <div class="row">
      <div class="col-8">
        <app-chiches-list></app-chiches-list>
      </div>
      <div class="col-4">
        <app-chiches-cart></app-chiches-cart>
      </div>
  </div>
</div>
<footer>{{title}} 2024 <img src="assets/isotype.svg" alt="lll" class="logo-footer"></footer>