.col-md-8 {
    position: relative;
  }
  
  .col-md-4 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white; // Ajusta el color de fondo según tus necesidades
    border-left: 1px solid #ccc; // Agrega un borde izquierdo para separar el aside
    padding: 20px; // Ajusta el relleno según sea necesario
  }
  